*{
    margin: 0;
    padding: 0;
    /* font-family: Helvetica, sans-serif; */
    /* font-size: 16px; */
}
* > i{
    opacity: .7;
}
body{
    /* position: relative; */
     /* overflow: hidden; */
}
header{
    height: 40px;
    display: flex;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.405);
    /* overflow-x: hidden; */
    position: sticky;
    top: 0;
    z-index:5;
    background: white;
}
.header-icon{
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon img{
    height: 37px;
}
.middle-header{
    width: 73vw;
}
.document-name-icons{
    display: flex;
}
.document-name{
    font-size: 1.1rem;
    color: grey;
    margin-right: 5px;
}
.document-icon i{
    margin-left: 10px;
    opacity: .6;
}
.document-buttons{
    margin-left: -4px;
}
.document-buttons button{
    /* margin-top: 5px; */
   padding: 6px;
   background: none;
   border: none;
}
.document-buttons button:hover{
    background:rgba(128, 128, 128, 0.241);
    border-radius: 10px;
}
.doc-timing{
    margin-left: 15px;
    font-size: .9rem;
    color: gray;
    text-decoration: underline;
}
.right-header{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    width: 300px;
}
.right-header div{
    margin-left: 15px;
}
.message-icon{
    height: 100%;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-icon:hover{
    background: rgba(128, 128, 128, 0.285);
    border-radius: 50%;
}
.message-icon img{
    height: 27px;
}
.share-button{
    width: 80px;
    height: 35px;
    /* margin: auto 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a73e8;
    border-radius: 4px;
    color: white;
}
.google-meet-icon{
    width: 60px;
    border: 1px solid rgba(128, 128, 128, 0.282);
    border-radius: 40%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.google-meet-icon:hover{
    background: rgba(128, 128, 128, 0.237);
}
.google-meet-icon .google-meet-img{
    height: 30px;
}
.share-button svg{
    fill: white;
    margin-right: 5px;
}
.down-icon-img{
    width: 15px;
    margin-left: 5px;
}
.profile-button img{
    width: 30px;
    border-radius: 50%;
}
.profile-button img:hover{
    border: 2px solid rgba(128, 128, 128, 0.516);
}
/* starting property bar */

.property-bar{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.379);
    /* width: 1415px; */
    position: sticky;
    top: 71px;
    width: calc(100% - 70px);
    /* z-index: -1; */
    background:white;
}
.property-bar button{
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    background: none;
    opacity: .8;
    position:relative;
}
.property-bar button:hover{
    background: rgba(128, 128, 128, 0.10);
}
.property-bar select{
    /* border: none; */
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding-right: 5px;
    font-size: 14px;
    opacity: .9;
    position:relative;

}
.property-bar select:hover{
    background: rgba(128, 128, 128, 0.10);
}
.border-left{
    border-left: 1px solid rgba(128, 128, 128, 0.297);
}
hr.vertical {
    width: 0px;
    height: 30px;
}
/* right navbar */
.right-navbar{
    border-left: 1px solid rgba(128, 128, 128, 0.297);
    position: fixed;
    top: 71px;
    right: 0;
    /* height: 100px; */
    /* position: fixed; */
    width: 60px;
    height: calc(100% - 71px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-navbar div img{
    width: 20px;
}
.right-navbar div{
    margin-top: 30px;
}
.main-content{
    background:rgba(128, 128, 128, 0.123);
    /* position: relative; */
    /* top: 123px; */
    width: calc(100% - 60px);
    height: 1200px;
    /* overflow: hidden; */
    /* display: flex; */
    /* z-index: -5; */
    /* justify-content: center; */
    /* /* overflow-y: scroll; */
    overflow-y: scroll;
    padding-top: 10px;
}
.main-content::-webkit-scrollbar{
    width: 20px;
}
#text-area{
    width: 750px;
    height: 100vh;
    /* background: red; */
    /* z-index: 50; */
    margin: 10px auto;
    /* -top: 20px; */
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.29);
    background: white;
    /* overflow: hidden; */
    outline: none;
}
.active{
    background: rgba(128, 128, 128, 0.471) !important;
}
.font-colour input{
    width: 20px;
    height: 15px;
}
.highlight-colour input{
    width: 20px;
    height: 15px;
}
/* .show-hide-right-navbar{
    position: absolute;
    left: 300px;
} */
/* editing div */
.editing-button{
    position: relative;
    margin-left: 11.5%;
    margin-right: 5px;
    cursor: pointer;
}
.editing-div{
    background: #1966d224;
    color: #1967d2;
    width: 120px;
    /* height: 0px; */
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px 7px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 14px;
}
.show-hide{
    position: absolute;
    z-index: 100;
    left: -55px;
    /* top: 40px; */
    /* left: -15px; */
}
.options{
    background: white;
    width: 170px;
    font-family:Arial, Helvetica, sans-serif ;
}
.options .option{
    display: flex;
    height: 25px;
    border-radius: 5px;
    width: 100%;
    background:white;
    padding: 10px 10px;
}
.option span{
    font-size: 15px;
}
.option p{
    font-size: 12px;
}
.options .option:hover{
    background: rgba(128, 128, 128, 0.245);
}
.show-edit{
    display: none;
}
#bold,#italic,#undo,#redo,#print,#spelling-check,#paint-format,#zoom,#underline,
#fontcolor,#highlightcolour,#link,#comment,#image,#left-align,#middle-align{
    /* display: none; */
    visibility: hidden;
    position: absolute;
    z-index: 100;
    top: 40px;
    left: -15px;
    font-size: 13px;
    /* width: 50px; */
    padding: 3px 10px;
    background: black;
    color: white;
    border-radius: 5px;
}
.font-bold:hover #bold{
    visibility: visible;
}
.undo-button:hover #undo{
    visibility: visible;
}
.font-italic:hover #italic{
    visibility: visible;
}
.redo-button:hover #redo{
    visibility: visible;
}
.print-button:hover #print{
    visibility: visible;
}
.spelling-check-button:hover #spelling-check{
    visibility: visible;
}
.paint-format-button:hover #paint-format{
    visibility: visible;
}
.zoom-button:hover #zoom{
    visibility: visible;
}
.font-underline:hover #underline{
    visibility: visible;
}
.font-colour:hover #fontcolor{
    visibility: visible;
    width: 100px;
}
.link-button:hover #link{
    visibility: visible;
}
.comment-button:hover #comment{
    visibility: visible;
}
.image-button:hover #image{
    visibility: visible;
}
.text-left-align:hover #left-align{
    visibility: visible;
}
.text-middle-align:hover #middle-align{
    visibility: visible;
}
.text-right-align:hover #right-align{
    visibility: visible;
}






